@import "../../scss/lib/theme/vars";

.gamepad {
  label {
    display: inline-block;
    margin-left: 40%; 
    margin-bottom: 1vw;
    margin-right: 2vw;
    font-size: 2vw;
  }

  button {
    font-family: $font-secondary;
    font-size: 1.2vw;
    text-align: center;
    width: 7%;
    margin: 1vw 2vw 0 0;
  }
}
