@import "../../scss/lib/theme/vars";

.gamepad {
  outline: 1px solid red;
  text-align: center;
  margin-bottom: -1vw;

  label {
    display: inline-block;
    font-size: 2vw;
  }

  button {
    font-family: $font-secondary;
    font-size: 1.2vw;
    text-align: center;
    width: 7%;
    margin: 1vw 2vw 0 0;
  }
}
