@import "lib/theme/vars";
@import "lib/base/base";
@import "lib/layout/content";
@import "lib/layout/header";
@import "../component/game-history/game-history";
@import "../component/game-pad/game-pad";
@import "../component/player-info/player-info";
/* @import "lib/base/reset"; */
