
/* BASE */
@import "lib/base/reset";
@import "lib/base/base";

/* LAYOUT */
@import "lib/layout/content";
@import "lib/layout/header";

/* COMPONENT */
@import "../component/game-history/game-history";
@import "../component/game-pad/game-pad";
@import "../component/player-info/player-info";
/* @import "lib/base/reset"; */
