@import "../../scss/lib/theme/vars";

.spider {
  outline: 1px solid green;
  width: 5vw;
  position: absolute;

}

.wall {
  width: 37vw;
  float: left;
  display: inline-block;
  position: relative;
}
