<section class='gamepad'>
  <form ng-submit='gamePadCtrl.movePlayer(gamePadCtrl.text)' name='gamepad' novalidate>
    <label for="direction">Go to the</label>
    <input type="text" placeholder="north,south,east,west,up,down" ng-model='gamePadCtrl.text'>
    <button type='submit'>scurry!</button>
    <!-- <select ng-model='gamePadCtrl.moveDirection'>
      <option ng-repeat='direction in gamePadCtrl.directions' value='{{ direction }}'>{{ direction }}</option>
    </select> -->
  </form>
</section>
