@import "../../scss/lib/theme/vars";

.gamepad {
  label {
    display: block;
    align-content: center;
    margin-bottom: 1vw;
    font-size: 3vw;
    font-style: italic;
    border: 1px solid $brand-primary;
    color: $black;
  }

  button {
    width: 25%;
    margin: 1vw 2vw 0 0;
    font-family: $font-std;

  }
}
