@import "../../scss/lib/theme/vars";

.history {
  background: #444;
  color: $white;

  h2 {
    padding: 1vw;
  }

  span {
    font-size: 2vw;
  }

  ul {
    padding: 5%;
    margin-bottom: 5%;
    border-top: solid 1px #444;
  }

  li {
    margin-bottom: 5%;
  }
}