@import "../../scss/lib/theme/vars";

.history {
  max-height: 300px;
  overflow: auto;
  color: $black;

  h2 {
    color: $black
  }

  span {
    font-size: 1.3vw;

    &:first-child {
      color: $black;
    }

    &:last-child {
    }
  }

  ul {
    margin-bottom: $gutter-std;
    li {
      margin-bottom: $gutter-sm;
    }
  }
}
